<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom Journal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="create-btn-container">
        <a href="/create" class="create-btn">+ Create Blog</a>
    </div>

    <main class="blog-container">
        <% if (posts && posts.length === 0) { %>
            <p class="no-posts">No blogs yet. Start by creating your first post!</p>
            <% } %>

            <% if (posts && posts.length > 0) { %>
                <% posts.forEach((post, index) => { %>
                  <div class="blog-card">
                    <h2><%= post.title %></h2>
                    <p><%= post.content %></p>
                  <div>
                    <a href="/edit/<%= index %>" class="edit-btn">Edit</a>
                    <form action="/delete/<%= index %>" method="POST" style="display: inline;">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                  </div>
                </div>  
               <% }); %>
               <% } %>
    </main>
</body>
</html>

<%- include("partials/footer") %>
